.button {
  border: 0 solid transparent;
  background-color: white;
  color: var(--color-primary);
  border-radius: 4px;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, .2);
  padding: 8px;
  cursor: pointer;
}

.button:hover {
  background-color: whitesmoke;
}

.button:active {
  transform: translate(2px, 2px);
  box-shadow: 0px 0px 4px 0 rgba(0, 0, 0, .2);
}

.button:disabled {
  opacity: .6;
  pointer-events: none;
  cursor: progress;
}